<section>
  <ul class='article-list'>
    {{#each post}}
    <li class='article-item' id='article-{{@index}}'>
      <small class='article-meta'>{{this.tag}}</small>
      <a href='{{this.slug}}' class='link'>
        {{this.title}}
      </a>
    </li>
    {{/each}}
  </ul>
  <div class='pagination'>
    <a href='' id="older" class="link">&lt;&nbsp;older</a>
    <a href='' id="newer" class="link">newer&nbsp;&gt;</a>
  </div>
</section>

<script>
  window.addEventListener("load", function () {

    const urlParams = new URLSearchParams(window.location.search);
    const limit = 5;
    const maxPage = Math.ceil(+document.querySelector('meta[name="posts"]').content / limit);
    const currentPage = +urlParams.get('page') || 1;

    function updateButton(buttonId, enable, page) {
      const button = document.getElementById(buttonId);
      button.style.display = enable ? "inline" : "none";
      button.style.pointerEvents = enable ? "auto" : "none";
      button.style.cursor = enable ? "pointer" : "default";
      button.href = enable ? `?page=${page}` : null;
    }
    updateButton('newer', currentPage > 1, +currentPage - 1);
    updateButton('older', currentPage < maxPage, +currentPage + 1);

    Array.from(document.getElementsByClassName('article-item')).forEach((item, index) => {
      const isVisible = index >= (currentPage - 1) * limit && index < currentPage * limit;
      item.style.visibility = isVisible ? 'visible' : 'hidden';
      item.style.display = isVisible ? 'flex' : 'none';
    });

  });
</script>