<section>
  <article class='main-article'>
    <div class='article-header'>
      <h1 class='article-title'>{{this.title}}</h1>
      <p>
        <small class='article-meta'>{{this.tag}}</small>
      </p>
    </div>
    <div class='article-content'>
      {{{this.content}}}
      <a href='..' class='link'>&lt;&nbsp;back</a>
    </div>
  </article>
</section>