<!DOCTYPE html>
<html lang='en'>

  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <meta name="description" content="blog">
    <title>{{title}}</title>
    <link rel='stylesheet' href='{{path}}style.css' />
  </head>

  <body>
    <div class='app'>
      <a href='editor.html' class='link'><small>editor</small></a>
      {{{section}}}
    </div>
  </body>

</html>